body {
	background: url("p4images/newps4background.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.grid {
  display: grid;
  border: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-gap:15px;
}
.box {
  background-color: opacity: 0.5;
  color: white;
  border-radius: 5px;
  font-family: "arial black";
}
.grid-colspan1-a{
 grid-column-start: 2;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: span 3;
}
.grid-colspan1-b{
 grid-column-start: 5;
 grid-column-end: span 2;
 grid-row-start: 4;
 grid-row-end: span 4;
}
.grid-colspan1-c{
 grid-column-start: 2;
 grid-column-end: span 2;
 grid-row-start: 7;
 grid-row-end: span 2;
}
.grid-colspan1-d{
 grid-column-start: 8;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: span 3;
}
.grid-colspan1-e{
 grid-column-start: 8;
 grid-column-end: span 2;
 grid-row-start: 7;
 grid-row-end: span 2;
}
.grid-colspan1-f{
 grid-column-start: 5;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: span 3;
}
.grid-colspan1-g{
 grid-column-start: 5;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: span 1;
}
.grid-colspan1-h{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 2;
 grid-row-end: span 2;
}
.grid-colspan1-i{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 4;
 grid-row-end: span 2;
 color: black;
 background-color: white;
}
.grid-colspan1-j{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 6;
 grid-row-end: span 2;
 color: black;
 background-color: white;
}
.grid-colspan1-k{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 8;
 grid-row-end: span 1;
 color: black;
 background-color: white;
}
.grid-colspan1-l{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 2;
 grid-row-end: span 2;
}
.grid-colspan1-m{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 4;
 grid-row-end: span 2;
 color: white;
 background-color: black;
}
.grid-colspan1-n{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 6;
 grid-row-end: span 2;
 color: white;
 background-color: black;
}
.grid-colspan1-o{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 8;
 grid-row-end: span 2;
 color: white;
 background-color: black;
}
.grid-colspan2-a{
 grid-column-start: 2;
 grid-column-end: span 2;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-b{
 grid-column-start: 4;
 grid-column-end: span 3;
 grid-row-start: 1;
 grid-row-end: span 4;
}
.grid-colspan2-c{
 grid-column-start: 4;
 grid-column-end: span 3;
 grid-row-start: 7;
 grid-row-end: span 2;
}
.grid-colspan2-d{
 grid-column-start: 4;
 grid-column-end: span 3;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-e{
 grid-column-start: 5;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: span 2;
}
.grid-colspan2-f{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-g{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-h{
 grid-column-start: 4;
 grid-column-end: span 2;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-i{
 grid-column-start: 6;
 grid-column-end: span 2;
 grid-row-start: 10;
 grid-row-end: span 2;
}
.grid-colspan2-j{
 grid-column-start: 3;
 grid-column-end: span 2;
 grid-row-start: 4;
 grid-row-end: span 2;
}
.grid-colspan2-k{
 grid-column-start: 7;
 grid-column-end: span 2;
 grid-row-start: 4;
 grid-row-end: span 2;
}